./taller1_grupo14/log
./taller1_grupo14/build
./taller1_grupo14/install
./taller2_grupo14/log
./taller2_grupo14/build
./taller2_grupo14/install
./taller3_grupo14/log
./taller3_grupo14/build
./taller3_grupo14/install
